body {
    margin: 0;
    padding: 0;
    background: #ece6ff;
    font-size: 20px;
    font-family: 'Lucida Handwriting', 'Copperplate', sans-serif;
    color: crimson;
    overflow: auto;
    font-weight: 600;
}

/* body,
canvas {
    width: 100dvw;
    margin: 0;
    padding: 0;
} */

a {
    color: #000;
    font-size: 14px;
}

#main {
    width: 100%;
    display: block;
}

#wrap {
    display: block;
    text-align: left;
    margin: 0 auto;
    width: 1100px;
    height: 680px;
    margin-top: 10px;
}

#text {
    width: 400px;
    height: 425px;
    left: 60px;
    top: 80px;
    position: absolute;
    line-height: 30px;
}

#code {
    display: none;
    font-size: 16px;
}

#clock-box {
    position: absolute;
    left: 60px;
    top: 640px;
    font-size: 28px;
    display: none;
}

#clock-box a {
    font-size: 28px;
    text-decoration: none;
}

/* #clock{margin-left:48px;} */
#clock .digit {
    font-size: 54px;
}

#canvas {
    margin: 0 auto;
    width: 1100px;
    height: 680px;
    display: block;
}

#error {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    display: none;
}

.hand {
    cursor: pointer;
}

.say:first-of-type,
.say:last-of-type {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    line-height: 50px;
}

/* .say{margin:25px 0px;} */
.space {
    margin-right: 60px;
}

.card.show {
    display: flex;
}

.card {
    display: none;

    --card-bg: #ed143d4a;
    --card-radius: 1rem;
    /* position: absolute;
    top: 500px;
    right: 160px; */
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    padding: 1.5rem;
    border-radius: var(--card-radius);
    color: rgb(255, 255, 255);
    cursor: pointer;
    /* width: 28rem; */
    backdrop-filter: blur(1rem);

    .card-preview {
        height: 32rem;
        border-radius: calc(var(--card-radius) - 0.5rem);
        overflow: hidden;
    }

    .card-preview .img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.48s ease-in-out;
    }

    .card-header,
    .card-footer {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    .card-header .content {
        display: flex;
        flex-direction: column;
        padding: 1.75rem 0 0 0;
        gap: 0.5rem;
    }

    .card-footer {
        /* justify-content: flex-end; */
        color: crimson;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;        width: fit-content;
        margin: 1rem 0rem;
        border-radius: 0.5rem;
        padding: .5rem 0.5rem;
    }

    .title {
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
        color: crimson;
    }

    .subtitle {
        font-size: 1rem;
    }

    /* &:hover {
        .card-preview img {
            transform: scale(1.25);
        }
    } */
}

.marry {
    display: block;
    width: 1100px;
    text-align: center;
    margin-top: 25%;
}


/* CSS */
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    font-family: 'Copperplate', sans-serif;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 2rem;
        padding: 22px 52px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}

.custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
}

.custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

.model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
}

.model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0);
    /* height: 100vh */
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}

.close-btn {
    position: absolute;
    right: 0;
    top: -100px;
    cursor: pointer;
    z-index: 99;
    font-size: 100px;
    color: #fff;
}

@media screen and (min-width:800px) {
    .custom-model-main:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
    }
}

@media screen and (max-width:799px) {
    .custom-model-inner {
        margin-top: 45px;
    }
}